<section id="container">
  <section>
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
  </section>
</section>
<h3>Карточка #<%= @card.id %></h3>

