<section id="container">
  <section>
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
  </section>
</section>
<%= render "reviews/form", card: @card %>
    