<p>
  <strong>Текст:</strong>
  <%= @card.original_text %>
</p>
 
<p>
  <strong>Перевод:</strong>
  <%= @card.translated_text %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @card.review_date %>
</p>

<%= link_to 'Back', cards_path %>